<f:layout name="Page"/>
<f:section name="Content">
    <div class="page-event-archive">
        <div class="row">
            <div class="col-sm-12">


                <header class="entry-header">
                    <div class="section-header">
                        <div class="section-title">
                            <h1 class="entry-title">Kommende Veranstaltungen</h1>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <p>Du möchtest Christoph einmal live predigen hören? Dann komm doch einfach bei einem der folgenden
            Gottesdienste
            vorbei:</p>
        <f:for each="{events}" as="event">
            <div class="row dotted">
                <div class="col-sm-3">
                    <f:if condition="{event.sermon.thumbnail}">
                        <f:then>
                            <wp:postImage post="{event.sermon.ID}" link="{event.ID -> wp:permalink()}"/>
                        </f:then>
                        <f:else>
                            <f:if condition="{event.thumbnail}">
                                <f:then>
                                    <wp:postImage post="{event.ID}" link="{event.ID -> wp:permalink()}"/>
                                </f:then>
                                <f:else>
                                    <f:if condition="{event.location.thumbnail}">
                                        <wp:postImage post="{event.location.ID}" link="{event.ID -> wp:permalink()}"/>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
                <div class="col-sm-9">
                    <b>
                        <p:format.date format="d.m.Y">{event.datetime}</p:format.date>
                        ,
                        <p:format.date format="H:i">{event.datetime}</p:format.date>
                        Uhr</b>,
                    <b>{event.location.title}</b><br/>
                    <h2><a href="{event.ID -> wp:permalink()}">{event.title}</a></h2>
                    <f:if condition="{event.sermon}">
                        <span class="hometa">Predigt <f:if condition="{event.sermon.title}">"<a href="{event.sermon.ID -> wp:permalink()}">{event.sermon.title}
                            <f:if condition="{event.sermon.subtitle}">: {event.sermon.subtitle}</f:if></a>"</f:if>
                                    <f:if condition="{event.sermon.reference}"> zu {event.sermon.reference}</f:if></span><br/>
                    </f:if>
                    <p>{event.content.main -> f:format.raw()}</p>
                </div>
            </div>
        </f:for>
    </div>
</f:section>