<p:output.pdf
        filename="{event.datetime -> p:format.date(format: 'Ymd')} Liturgie - {event.sermon.title}.pdf"
        leftmargin="10" rightmargin="10" topmargin="10" bottommargin="10"><!DOCTYPE html>
    <html lang="de">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="{baseUrl}/Resources/Public/Styles/Liturgy.css"
              media="all"/>
    </head>
    <body>
    <h1>{event.title}</h1>
<p:format.date format="d.m.Y">{event.datetime}</p:format.date>, {event.location.title}
<hr />
<table class="table">
    <tbody>
    <f:for each="{event.liturgy}" as="item">
        <tr>
            <f:switch expression="{item.type}">
                <f:case value="sectionTitle">
                    <th colspan="2" valign="top"><h3>{item.title}</h3></th>
                </f:case>
                <f:case value="descriptive">
                    <th valign="top">{item.title}</th>
                    <td valign="top"></td>
                </f:case>
                <f:case value="freeText">
                    <th valign="top">{item.title}</th>
                    <td valign="top"></td>
                </f:case>
                <f:case value="song">
                    <th valign="top">{item.title}</th>
                    <td valign="top">{item.data.song}<f:if condition="{item.data.verses}">, {item.data.verses}</f:if>
                        <f:if condition="{0: item.data.number} == {0: item.data.title}"><f:else>"{item.data.title}"</f:else></f:if>
                    </td>
                </f:case>
                <f:case value="psalm">
                    <th valign="top">Psalmgebet:</th>
                    <td valign="top">{item.data.song} <f:if condition="{0: item.data.number} == {0: item.data.title}"><f:else>{item.data.title}</f:else></f:if></td>
                </f:case>
                <f:case value="scriptureReading">
                    <th valign="top">{item.title}</th>
                    <td valign="top">{item.data.reference}</td>
                </f:case>
                <f:case value="sermon">
                    <th valign="top">{item.title}</th>
                    <td valign="top"><f:if condition="{event.sermon.title}">"{event.sermon.title}<f:if condition="{event.sermon.subtitle}">: {event.sermon.subtitle}</f:if>"<f:if condition="{event.sermon.reference}"> ({event.sermon.reference})</f:if></f:if></td>
                </f:case>
            </f:switch>
        </tr>
    </f:for>
    </tbody>
</table>
    </body>
</html>
</p:output.pdf>
