<p:output.word filename="{event.sermon.post_date -> p:format.date(format: '%Y%m%d')} Gottesdienst -  {event.sermon.title}.docx" debug="1" defaultFont="Helvetica Condensed" defaultFontSize="11" language="de-DE">
    <p:output.word.styles.title depth="1" font="{bold: 'true', name: 'Helvetica Condensed', size: 20}"/>
    <p:output.word.styles.title depth="2" font="{bold: 'true', name: 'Helvetica Condensed', size: 16}"/>
    <p:output.word.styles.title depth="3" font="{bold: 'true', name: 'Helvetica Condensed', size: 14}"/>
    <p:output.word.html>
        <f:for each="{event.liturgy}" as="item">
            <f:if condition="{0: item.type} == {0: 'descriptive'}"><f:then><h1><b><u>{item.title}</u></b></h1></f:then><f:else><h2><b>{item.title}</b></h2></f:else></f:if>
            <f:if condition="{item.instructions.Prediger}">
                <f:then>
                    <f:if condition="{item.data}">
                        <f:then>
                            <i>{item.instructions.Prediger -> wp:autop()}</i><br /><br />
                            <f:render partial="Liturgy/PreacherNotesItem" arguments="{item: item, event: event, sermon: event.sermon}" />
                        </f:then>
                        <f:else>
                            {item.instructions.Prediger -> wp:autop()}
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:render partial="Liturgy/PreacherNotesItem" arguments="{item: item, event: event, sermon: event.sermon}" />
                </f:else>
            </f:if>
        </f:for>
    </p:output.word.html>


</p:output.word>