<p:output.pdf
        filename="{event.datetime -> p:format.date(format: 'Ymd')} Liedanzeiger.pdf"
        leftmargin="5" rightmargin="5" topmargin="5" bottommargin="5" orientation="landscape" layout="A3"><!DOCTYPE html>
    <html lang="de">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="{baseUrl}/Resources/Public/Styles/PublicSongList.css"
              media="all"/>
    </head>
    <body>
    <p:math.counter name="idx" />
    <f:for each="{event.liturgy}" as="item" iteration="i">
        <f:switch expression="{item.type}">
            <f:case value="song">
                    <span class="counter">{idx}</span>
                    <f:if condition="{item.data.song.fromSongBook}">
                        <f:then>{item.data.song.number}<f:if condition="{item.data.verses}">, {item.data.verses}</f:if></f:then>
                        <f:else>"{item.data.song}"<f:if condition="{item.data.verses}">({item.data.verses})</f:if></f:else>
                    </f:if>
                <br />
            </f:case>
            <f:case value="psalm">
                    <span class="counter">{idx}</span>
                        {item.data.song.number} {item.data.song.title}
                <br />
            </f:case>
        </f:switch>
    </f:for>
    </body>
    </html>
</p:output.pdf>
