.pulpit-upload-preview {
    margin: 3px 0;
    border: solid 1px #ddd;
    padding: 5px;
    border-radius: 3px;
}

.pulpit-upload-preview:hover {
    border-color: #5b9dd9;
}

.pulpit-upload-preview button {
    visibility: hidden;
    margin-top: -2px !important;
    float: right;
}

.pulpit-upload-preview:hover button {
    visibility: visible;
}

.pulpit-slides-preview {
    padding-right: 11px;
}

.pulpit-slides-preview .pulpit-slide-preview {
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-bottom: 2px;
    padding: 5px;
    width: 100%;
    cursor: move;
}

.pulpit-slides-preview .pulpit-slide-preview button {
    float: right;
    margin-top: -2px;
    cursor: pointer;
}

.pulpit-clearfix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.pulpit-slide-preview-content {
    float: left;
    width: 80%;
}

.pulpit-slide-preview-textcontainer {
    float: right;
    width: 80%;
}

.pulpit-field-preview-image {
    max-height: 100px;
}

.pulpit-agenda-items-form-single,
.pulpit-detailed-liturgy-form-single {
    border: solid 1px rgb(221, 221, 221);
    border-left: solid 8px #016087;
    padding: 5px;
    border-radius: 3px;
    min-height: 23px;
    background-color: #f7f7f7;
    cursor: move;
}

.pulpit-detailed-liturgy-form-single-icon {
    padding: 0 5px;
    width: 18px;
    max-width: 18px;
    min-width: 18px;
}

.pulpit-agenda-items-form-single-toggle,
.pulpit-detailed-liturgy-form-single-toggle,
.pulpit-collapse-section-icon{
    display: inline-block !important;
}

#footer-thankyou {
    display: none;
}

.component-box {
    width: 100%;
    background-color: white;
    padding: 5px 5px 5px 10px;
}

.component-box-success {
    border-left: solid 3px green;
}

.component-box-warning {
    border-left: solid 3px #ffb900;
}

.component-box-error {
    border-left: solid 3px #dc3232;
}

.button.pulpit-detailed-liturgy-field-btn-remove-all {
    color: red !important;
}

.pulpit-detailed-liturgy-field-toolbar {
    width: 100%;
    background-color: #f7f7f7;
    padding: 3px;
}

.pulpit-detailed-liturgy-field-toolbar a.button {
    font-size: 16px !important;
    border-color: transparent;
    box-shadow: none;
    padding: 0 8px !important;
    line-height: 28px !important;
    height: auto !important;
    margin: 0 2px;
}
.pulpit-detailed-liturgy-field-toolbar a.button:hover {
    box-shadow: 0 1px 0 #ccc;
    border-color: #ccc;
}


.pulpit-detailed-liturgy-form-single-toggle {
    width: 40%;
    font-weight: bold;
    cursor: pointer;
}

.pulpit-detailed-liturgy-form-sub {
    margin-top: 20px;
    display: none;
}