.pulpit-upload-preview {
    margin: 3px 0;
    border: solid 1px #ddd;
    padding: 5px;
    border-radius: 3px;
}

.pulpit-upload-preview:hover {
    border-color: #5b9dd9;
}

.pulpit-upload-preview button {
    visibility: hidden;
    margin-top: -2px !important;
    float: right;
}

.pulpit-upload-preview:hover button {
    visibility: visible;
}

.pulpit-slides-preview {
    padding-right: 11px;
}

.pulpit-slides-preview .pulpit-slide-preview {
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-bottom: 2px;
    padding: 5px;
    width: 100%;
    cursor: move;
}

.pulpit-slides-preview .pulpit-slide-preview button {
    float: right;
    margin-top: -2px;
    cursor: pointer;
}

.pulpit-clearfix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.pulpit-slide-preview-content {
    float: left;
    width: 80%;
}

.pulpit-slide-preview-textcontainer {
    float: right;
    width: 80%;
}

.pulpit-field-preview-image {
    max-height: 100px;
}

.pulpit-agenda-items-form-single {
    border: solid 1px #32373c;
    border-left: solid 8px #32373c;
    padding: 5px;
    border-radius: 3px;
}

.pulpit-agenda-items-form-single-toggle {
    display: inline-block !important;
}

#footer-thankyou {
    display: none;
}