<f:layout name="Page"/>
<f:section name="Content">
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-default" href="/predigt"><span class="glyphicon glyphicon-arrow-left"></span> Zurück
                zur Liste der Predigten</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">


            <header class="entry-header">
                <div class="section-header">
                    <div class="section-title">
                        <h2 class="entry-title">{sermon.title}</h2>
                        <f:if condition="{sermon.subtitle}"><p>{sermon.subtitle}</p></f:if>
                    </div>
                </div>
                <div class="hometa">
                    <f:if condition="{sermon.events}">
                        <f:then>
                            <f:for each="{sermon.events}" as="event">
                                <a href="{p:format.customUrl(url: event.ID)}">
                                <p:format.date format="d.m.Y, H:i">{event.datetime}</p:format.date>
                                Uhr,
                                {event.location.title}: {event.title}</a><br/>
                            </f:for>
                        </f:then>
                        <f:else>
                            Gepredigt am <span class="posted-on">{sermon.date}</span>
                            <f:if condition="{sermon.church}">
                                , <a href="{sermon.churchUrl}" target="_blank">{sermon.church}</a>
                            </f:if>
                        </f:else>
                    </f:if>
                    <f:if condition="{sermon.sermonSeries}">
                        <f:if condition="{sermon.sermonSeries -> f:count()} > 1">
                            <f:then>Aus den Reihen:</f:then>
                            <f:else>Aus der Reihe:</f:else>
                        </f:if>
                        <f:for each="{sermon.sermonSeries}" as="series" iteration="s">
                            <a href="/reihe/{series.slug}/">{series.name}</a>
                            <f:if condition="{s.isLast}">
                                <f:else>,</f:else>
                            </f:if>
                        </f:for>
                    </f:if>
                </div><!-- .entry-meta -->
                <div class="hometa">

                </div><!-- .entry-meta -->
            </header><!-- .entry-header -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <wp:postImage post="{sermon.ID}" size="large" showCaption="1"/>
        </div>
        <div class="col-sm-4">
            <table class="table">
                <f:if condition="{sermon.audiorecordingRelation.file}">
                    <tr>
                        <td>
                            <a href="{sermon.audiorecordingRelation.guid}"
                               target="_blank">
                                <span class="fa fa-headphones"> </span>
                            </a>
                        </td>
                        <td>
                            <a href="{sermon.audiorecordingRelation.guid}"
                               target="_blank">
                                Aufnahme der Predigt
                                ({sermon.audiorecordingRelation.data.length_formatted})
                            </a><br/>
                            <div class="sermon-instructions">
                                Um die Datei zu speichern, klicke mit der rechten Maustaste auf den Link
                                und wähle "Ziel speichern ..."
                            </div>
                            <audio src="{sermon.audiorecordingRelation.guid}" controls></audio>
                        </td>
                        <td>
                        </td>
                    </tr>
                </f:if>
                <f:if condition="{sermon.handout}">
                    <f:if condition="{sermon.noHandout}">
                        <f:else>
                            <f:if condition="{isPublished}">
                                <tr>
                                    <td>
                                        <a href="{sermon.handout}"
                                           target="_blank">
                                            <span class="fa fa-book-open"> </span>
                                        </a>
                                    </td>
                                    <td colspan="2">
                                        <a href="{sermon.handout}"
                                           target="_blank">
                                            Begleitzettel zur Predigt
                                        </a>
                                        <div class="sermon-instructions">
                                            Um die Datei zu speichern, klicke mit der rechten Maustaste auf den Link
                                            und wähle "Ziel speichern ..."
                                        </div>
                                    </td>
                                </tr>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:if>
                <f:if condition="{sermon.noHandout}">
                    <f:else>
                        <f:if condition="{isPublished}">
                            <tr>
                                <td>
                                    <a href="{p:format.customUrl(url: sermon.ID, add: {format: 'handout'})}">
                                        <span class="fa fa-book-open"> </span>
                                    </a>
                                </td>
                                <td colspan="2">
                                    <a href="{p:format.customUrl(url: sermon.ID, add: {format: 'handout'})}">
                                        Begleitzettel zur Predigt
                                    </a>
                                    <div class="sermon-instructions">
                                        Um die Datei zu speichern, klicke mit der rechten Maustaste auf den Link
                                        und wähle "Ziel speichern ..."
                                    </div>
                                    <wp:loggedIn>
                                        <a class="btn btn-default" href="{p:format.customUrl(url: sermon.ID, add: {format: 'configureHandout'})}">
                                            Handout konfigurieren
                                        </a>
                                    </wp:loggedIn>
                                </td>
                            </tr>
                        </f:if>
                        <tr>
                            <td>
                                <a href="{p:format.customUrl(url: sermon.ID, add: {format: 'handout', underlineMode: 'blank'})}">
                                    <span class="fa fa-book-open"> </span>
                                </a>
                            </td>
                            <td colspan="2">
                                <a href="{p:format.customUrl(url: sermon.ID, add: {format: 'handout', underlineMode: 'blank'})}">
                                    Begleitzettel zur Predigt (leer)
                                </a>
                                <div class="sermon-instructions">
                                    Um die Datei zu speichern, klicke mit der rechten Maustaste auf den Link
                                    und wähle "Ziel speichern ..."
                                </div>
                                <wp:loggedIn>
                                    <a class="btn btn-default" href="{p:format.customUrl(url: sermon.ID, add: {format: 'configureHandout', underlineMode: 'blank'})}">
                                        Handout konfigurieren
                                    </a>
                                </wp:loggedIn>
                            </td>
                        </tr>
                    </f:else>
                </f:if>
                <f:if condition="{sermon.remoteUrl}">
                    <tr>
                        <td>
                            <a href="{sermon.remoteUrl}"
                               target="_blank">
                                <span class="fa fa-globe"> </span>
                            </a>
                        </td>
                        <td colspan="2">
                            <a href="{sermon.remoteUrl}" target="_blank">
                                Zur ursprünglichen Predigtseite<br/>
                                ({sermon.events.0.location.title})
                            </a>
                        </td>
                    </tr>

                </f:if>
                <f:if condition="{sermon.content.extended}">
                    <tr>
                        <td>
                            <a href="{p:format.customUrl(url: sermon.ID, add: {format: 'pulpit_epub'})}">
                                <span class="fa fa-book"> </span>
                            </a>
                        </td>
                        <td colspan="2">
                            <a href="{p:format.customUrl(url: sermon.ID, add: {format: 'pulpit_epub'})}">
                                Predigt als E-Book
                            </a>
                            <div class="sermon-instructions">
                                Du kannst den Text dieser Predigt auch als E-Book im EPub-Format lesen.
                                Um die Datei zu speichern, klicke mit der rechten Maustaste auf den Link
                                und wähle "Ziel speichern ..."
                            </div>
                            <wp:loggedIn>
                                <a class="btn btn-default" href="{p:format.customUrl(url: sermon.ID, add: {format: 'pulpit_epub', smashwords: 1})}">
                                    E-Book im SmashWords-Format
                                </a>
                            </wp:loggedIn>
                        </td>
                    </tr>
                </f:if>
                <f:if condition="{sermon.cclicense}">
                    <tr>
                        <td>
                            <span class="fa fa-copyright"> </span>
                        </td>
                        <td colspan="2">
                            <div class="sermon-instructions">
                                Die Predigt "{sermon.title}" von Christoph Fischer und alle dazu gehörigen
                                Ressourcen (Predigtzettel, Aufnahme) sind lizenziert unter einer
                                <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.de"
                                   title="Lizenzbedingungen">
                                    Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0
                                    International Lizenz</a>.
                                Verwendete Bilder stehen eventuell unter eigenen Lizenzbedingungen. Ausdrücklich von
                                der
                                Creative Commons-Lizenz ausgenommen sind die Logos und Namen der Gemeinde, in der
                                die
                                Predigt gehalten wurde
                                <f:if condition="{sermon.church}">({sermon.church})</f:if>
                                und ihrer Arbeitsbereiche.
                            </div>

                        </td>
                    </tr>
                </f:if>
                <tr>
                    <td></td>
                    <td>
                        <wp:shortcode code="[shariff]"/>
                    </td>
                </tr>


            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="entry-content">
                <f:if condition="{isPublished}">
                    <f:then>
                        <f:if condition="{sermon.content.extended}">
                            <f:then>{sermon.content.extended -> wp:autop() -> f:format.raw()}</f:then>
                            <f:else><p>{sermon.content.main -> f:format.raw()}</p></f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <h4>In aller Kürze</h4>
                        <p>{sermon.content.main -> f:format.raw()}</p>
                        <h4>Predigttext</h4>
                        <p>{sermon.reference}</p>
                        <f:if condition="{sermon.prep}">
                            <h4>So kannst du dich auf den Gottesdienst vorbereiten</h4>
                            <p>{sermon.prep}</p>
                        </f:if>
                    </f:else>
                </f:if>
            </div>
        </div>
        <f:if condition="{isPublished}">
            <div class="col-sm-4">
                <table class="table">
                    <tr>
                        <td>
                            <h4>Predigttext</h4>
                            <p>{sermon.reference}</p>
                        </td>
                    </tr>
                    <f:if condition="{sermon.content.extended}">
                        <tr>
                            <td>
                                <h4>In Kürze</h4>
                                <p>{sermon.content.main}</p>
                            </td>
                        </tr>
                    </f:if>
                    <f:if condition="{sermon.keyPoints}">
                        <tr>
                            <td>
                                <h4>Hauptpunkte der Predigt</h4>
                                <f:if condition="{sermon.notesHeader}">
                                    <f:then><h5>{sermon.notesHeader}:</h5></f:then>
                                </f:if>
                                <p:format.orderedList list="{sermon.keyPoints} "/>
                            </td>
                        </tr>
                    </f:if>
                    <f:if condition="{sermon.questions}">
                        <tr>
                            <td>
                                <h4>Fragen zur Vertiefung</h4>
                                <p class="sermon-instructions">
                                    Zu dieser Predigt hat Christoph eine Reihe von Fragen hinterlegt,
                                    die in der Kleingruppe zur Vertiefung weiter besprochen werden können:
                                </p>
                                <p:format.orderedList list="{sermon.questions}"/>
                            </td>
                        </tr>
                    </f:if>
                    <f:if condition="{sermon.furtherReading}">
                        <tr>
                            <td>
                                <h4>Weiterführende Literatur</h4>
                                <p class="sermon-instructions">
                                    Wenn du dich noch weiter informieren willst, empfiehlt Christoph
                                    folgende weiterführende Literatur:
                                </p>
                                <f:format.raw>{sermon.furtherReading}</f:format.raw>
                            </td>
                        </tr>
                    </f:if>
                    <f:if condition="{sermon.activity}">
                        <tr>
                            <td>
                                <h4>Lebensbezüge</h4>
                                <p class="sermon-instructions">
                                    Folgende Grundvollzüge glaubenden Lebens sind in dieser Predigt angesprochen:
                                </p>
                                <f:for each="{sermon.activity}" as="activity">
                                    <a href="{baseUrl}/pulpit-sermon-activity/{activity.slug}">#{activity.slug}</a>
                                </f:for>
                            </td>
                        </tr>
                    </f:if>
                    <f:if condition="{sermon.competence}">
                        <tr>
                            <td>
                                <h4>Kompetenzen</h4>
                                <p class="sermon-instructions">
                                    Mit dieser Predigt versuche ich, folgende Kompetenzen meiner Hörer weiter zu
                                    trainieren:
                                </p>
                                <ul>
                                    <f:for each="{sermon.competence}" as="competence">
                                        <li>
                                            <a href="{baseUrl}/pulpit-sermon-competence/{competence.slug}">{competence.name}</a>
                                        </li>
                                    </f:for>
                                </ul>
                            </td>
                        </tr>
                    </f:if>
                </table>
            </div>
        </f:if>
    </div>

</f:section>