<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="AUTHOR" content="Christoph Fischer"/>
    <meta name="Info_2" content=""/>
    <meta name="Info_3" content=""/>
    <meta name="Info_4" content=""/>
    <title>{post.post_title}<f:if condition="{meta.subtitle.0}">: {meta.subtitle.0}</f:if></title>
    <link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
    @page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
<body dir="ltr" class="calibre">
<p lang="de-DE" class="c5" xml:lang="de-DE" id="calibre_pb_9"><span class="c6">Kontakt zu Christoph</span></p>
<p lang="de-DE" class="c1" xml:lang="de-DE">Danke, dass du dir Zeit
    genommen hast, diese Predigt zu lesen. Hier findest du mich online,
    so dass wir weiter in Kontakt bleiben können:</p>
<p lang="de-DE" class="western3" xml:lang="de-DE"> <br class="calibre1"/></p>
<p lang="de-DE" class="western3" xml:lang="de-DE">Meine Website:
    <span class="c4"><a href="https://christoph-fischer.org/">https://christoph-fischer.org</a></span></p>
<p lang="de-DE" class="western3" xml:lang="de-DE">Facebook:
    <span class="c4"><a href="https://www.facebook.com/christoph.fischer">https://www.facebook.com/christoph.fischer</a></span></p>
<p lang="de-DE" class="western3" xml:lang="de-DE">Twitter:
    <span class="c4"><a href="https://www.twitter.com/ch_fischer">https://www.twitter.com/ch_fischer</a></span></p>
<f:if condition="{smashwords}"><p lang="de-DE" class="western3" xml:lang="de-DE">Smashwords:
    <span class="c4"><a href="https://www.smashwords.com/profile/view/potofcoffee">https://www.smashwords.com/profile/view/potofcoffee</a></span></p></f:if>
</body>
</html>
