<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="AUTHOR" content="Christoph Fischer"/>
    <meta name="Info_2" content=""/>
    <meta name="Info_3" content=""/>
    <meta name="Info_4" content=""/>
    <title>{post.post_title}<f:if condition="{meta.subtitle.0}">: {meta.subtitle.0}</f:if></title>
    <link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
    @page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
<body dir="ltr" class="calibre">
<p lang="de-DE" class="c5" xml:lang="de-DE" id="calibre_pb_8"><span class="c6">Über
Christoph</span></p>
<p lang="de-DE" class="western" xml:lang="de-DE"><a id="author_about"></a> Christoph Fischer (* 1978)
    ist Pastor der Volksmission. Neben seinem pastoralen Dienst
    interessiert er sich sehr stark für pfingstlich-theologische
    Forschung und ökumenische Theologie.</p>
<p lang="de-DE" class="western" xml:lang="de-DE">Christoph hat
    einen B.A. in Bibel und Theologie vom Continental Theological
    Seminary (Brüssel) und einen Th.M. von der Evangelischen
    Theologische Fakultät (Löwen).</p>
<p lang="de-DE" class="western" xml:lang="de-DE">Christoph ist
    ordinierter Pastor im Bund freikirchlicher Pfingstgemeinden (BFP)
    KdöR, einem bundesweiten pfingstkirchlichen Verband in Deutschland,
    der enge Verbindungen zur weltweiten Gemeinschaft der Assemblies of
    God unterhält. Zuletzt war er fast 12 Jahre lang Pastor der
    Gemeinde in Freudenstadt. Von 2012-2016 war er darüber hinaus
    Generalsekretär der Volksmission entschiedener Christen e.V., eines
    Gemeindeverbands mit ca. 50 Gemeinden hauptsächlich in
    Süddeutschland. In der Arbeitsgemeinschaft Christlicher Kirchen
    (ACK) in Baden-Württemberg arbeitet Christoph in der Fachgruppe
    "Neue Bewegungen, junge Kirchen, unabhängige Gemeinschaften"
    mit.</p>
<p lang="de-DE" class="western" xml:lang="de-DE">Christoph ist
    verheiratet mit Rebecca, einer Psychologin, die aus Belgien stammt.
    Gemeinsam haben sie drei Töchter, Ann-Céline (* 2005), Emma (*
    2007) und Pia (*2012).</p>
<p lang="de-DE" class="western" xml:lang="de-DE">In seiner
    Freizeit schreibt Christoph Computerprogramme, liest viel und kocht
    gern.</p>
<p lang="de-DE" class="western" xml:lang="de-DE"> <br class="calibre1"/></p>
</body>
</html>
