<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="AUTHOR" content="Christoph Fischer"/>
    <meta name="Info_2" content=""/>
    <meta name="Info_3" content=""/>
    <meta name="Info_4" content=""/>
    <title>{post.post_title}<f:if condition="{meta.subtitle.0}">: {meta.subtitle.0}</f:if></title>
    <link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
    @page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
<body dir="ltr" class="calibre">
<h3 lang="de-DE" class="c" xml:lang="de-DE">{post.post_title}<f:if condition="{meta.subtitle.0}"><br class="calibre1"/>{meta.subtitle.0}</f:if></h3>
<p lang="de-DE" class="c1" xml:lang="de-DE"> <br class="calibre1"/></p>
<p lang="de-DE" class="c2" xml:lang="de-DE">Predigt vom {post.post_date -> p:format.date(format: '%d.%m.%Y')}<br class="calibre1"/>
    {meta.church.0}</p>
<p lang="de-DE" class="western" xml:lang="de-DE"> <br class="calibre1"/></p>
<p lang="de-DE" class="c2" xml:lang="de-DE">Copyright © {post.post_date -> p:format.date(format: '%Y')}
    Christoph Fischer</p>
<p lang="de-DE" class="c2" xml:lang="de-DE">Published by Christoph
    Fischer at Smashwords</p>
<p lang="de-DE" class="c1" xml:lang="de-DE"> <br class="calibre1"/></p>
<p lang="de-DE" class="c1" xml:lang="de-DE"> <br class="calibre1"/></p>
<p lang="de-DE" class="c1" xml:lang="de-DE"> <br class="calibre1"/></p>
<f:if condition="{meta.cclicense.0}">
<p lang="de-DE" class="c3" xml:lang="de-DE">Smashwords Edition
    License Notes</p>
<p lang="de-DE" class="c2" xml:lang="de-DE">Diese Predigt und alle
    dazu gehörigen Ressourcen (Predigtzettel, Aufnahme) sind lizenziert
    unter einer <span class="c4"><a class="western1" href="http://creativecommons.org/licenses/by-sa/4.0/deed.de">Creative
Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0
International Lizenz</a></span>. Verwendete Bilder stehen eventuell
    unter eigenen Lizenzbedingungen. Ausdrücklich von der Creative
    Commons-Lizenz ausgenommen sind die Logos und Namen der Gemeinde,
    in der die Predigt gehalten wurde und ihrer Arbeitsbereiche.</p>
</f:if>
<p lang="de-DE" class="western" xml:lang="de-DE"> <br class="calibre1"/></p>
<p lang="de-DE" class="c1" xml:lang="de-DE"> <br class="calibre1"/></p>
<p lang="de-DE" class="c1" xml:lang="de-DE"> <br class="calibre1"/></p>
</body>
</html>
