@namespace h "http://www.w3.org/1999/xhtml";
.SWsoftchapter {
color: #000;
display: none;
margin-bottom: 0.08in;
margin-left: 0;
margin-right: 0;
margin-top: 0;
orphans: 2;
text-indent: 0.3in;
widows: 2
}
.c {
display: block;
font-size: 1.41667em;
font-weight: bold;
margin-bottom: 0.33in;
margin-left: 0;
margin-right: 0;
margin-top: 0.83in;
text-align: center;
text-indent: 0
}
.c1 {
color: #000;
display: block;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: 0;
orphans: 2;
text-indent: 0.01in;
widows: 2
}
.c10 {
font-size: 0.75em;
font-style: italic;
line-height: normal;
vertical-align: super
}
.c2 {
color: #000;
display: block;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: 0;
orphans: 2;
text-align: center;
text-indent: 0.3in;
widows: 2
}
.c3 {
color: #000;
display: block;
font-weight: bold;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: 0;
orphans: 2;
text-align: center;
text-indent: 0;
widows: 2
}
.c4 {
color: #00F;
text-decoration: underline
}
.c5 {
color: #000;
display: block;
font-family: Arial, sans-serif;
margin-bottom: 0.25in;
margin-left: 0;
margin-right: 0;
margin-top: 0.83in;
orphans: 2;
page-break-before: always;
text-align: center;
text-indent: 0;
widows: 2
}
.c6 {
font-size: 1.41667em;
font-weight: bold
}
.c7 {
color: #00F;
display: block;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: 0;
orphans: 2;
text-indent: 0.01in;
widows: 2
}
.c8 {
text-decoration: underline
}
.c9 {
color: #000;
display: block;
font-style: italic;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: 0;
orphans: 2;
text-align: center;
text-indent: 0.3in;
widows: 2
}
.calibre {
color: #000;
display: block;
font-size: 1em;
margin-bottom: 0;
margin-left: 5pt;
margin-right: 5pt;
margin-top: 0;
page-break-before: always;
text-align: justify
}
.calibre1 {
display: block
}
.calibre2 {
font-size: 0.75em;
line-height: normal;
vertical-align: super
}
.western {
color: #000;
display: block;
font-family: "Times New Roman", serif;
font-size: 1em;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: 0;
orphans: 2;
so-language: de-DE;
text-indent: 0.3in;
widows: 2
}
.western1 {
font-style: italic
}
.western2 {
color: #00F;
display: block;
font-family: "Times New Roman", serif;
font-size: 1em;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: 0;
orphans: 2;
so-language: de-DE;
text-indent: 0.01in;
widows: 2
}
.western3 {
color: #000;
display: block;
font-family: "Times New Roman", serif;
font-size: 1em;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: 0;
orphans: 2;
so-language: de-DE;
text-indent: 0;
widows: 2
}
a {
color: inherit;
text-decoration: inherit;
cursor: default
}
a[href] {
color: blue;
text-decoration: underline;
cursor: pointer
}